<!doctype html>


<script src="https://unpkg.com/htmx.org@1.9.11"></script>

<form hx-post="/create_user" hx-target="this" hx-swap="outerHTML">
  <input type="text" name = "username" placeholder = "username"/>
  <input type="text" name = "real_name" placeholder = "Real Name"/>
  <input type="file" name = "image" placeholder = "Profile Picture"/>
  <input type="text" name = "description" placeholder = "Description"/>
  <input type = "password" name = "password" placeholder = "Password"/>
  <button type="submit"> Sign Up </button>
</form>
